* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

.game {
    min-height: 100vh;
    background: url('../img/patterns/grass.png');
    background-size: 500px;
}
.garden {
    background: url(../img/patterns/ground.png);
    background-size: 100px;
    position: absolute;
    border: 5px solid rgb(150 215 70 / 38%);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.createGardenBtn {
    background: orange;
    border: none;
    border-radius: 7px;
    padding: 7px 25px;
    color: white;
    transition: .2s;

    &:hover {
        background: rgb(211, 137, 0);
    }

}

.garden.error {
    border: 2px solid red;
}
.garden-place__product {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background: #00000015;
    transition: .2s;
    cursor: pointer;
    &:hover {
        background: #00000030;

    }
}